# Arquivos do macOS
.DS_Store

# Arquivos do Windows
desktop.ini

# Dependências do Composer
/vendor/

# Variáveis de ambiente
.env

# Arquivos temporários do Dompdf
app/storage/dompdf_tmp/*
!app/storage/dompdf_tmp/.gitkeep