.card h2 {
  color: var(--text);
  margin-bottom: 10px;
  font-size: 20px;
}



/* ==========================================
   FORMULÁRIO
========================================== */

.grid-form {
  grid-template-columns: repeat(3, 1fr);
}

.observacoes {
  grid-column: span 3;
}


/* ==========================================
   RESPONSIVO
========================================== */

@media (max-width: 1100px) {
  .grid-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .observacoes {
    grid-column: span 2;
  }

}


  .grid-form {
    grid-template-columns: 1fr;
  }

  .observacoes {
    grid-column: span 1;
  }

}