
/* ==========================================
   EM CONSTRUÇÃO
========================================== */

.card-construcao {
  width: 100%;
  text-align: center;
}

.card-construcao img {
  width: 180px;
  margin-bottom: 20px;
}

.card-construcao h1 {
  color: var(--orange);
  font-size: 70px;
  font-weight: bold;
}