/* ==========================================
   RESET
========================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family: Arial, sans-serif;
}

/* ==========================================
   LAYOUT
========================================== */

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/* ==========================================
   EM CONSTRUÇÃO
========================================== */

.card-construcao {
  width: 100%;
  text-align: center;
}

.card-construcao img {
  width: 180px;
  margin-bottom: 20px;
}

.card-construcao h1 {
  color: #f97316;
  font-size: 70px;
  font-weight: bold;
}