* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
}

.container {
  display: flex;
  height: 100vh;
}

/* LADO ESQUERDO */

.left-side {
  flex: 2;
  background-image: url("/ideal/public/assets/img/bg-login.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px;
}

.tag {
  border: 1px solid #ff5a1f;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  width: fit-content;
  font-size: 12px;
  margin-bottom: 30px;
}

.overlay h1 {
  color: white;
  font-size: 72px;
  line-height: 0.95;
  font-weight: bold;
  margin-bottom: 30px;
}

.overlay h1 span {
  color: #ff5a1f;
}

.overlay p {
  color: #ddd;
  max-width: 500px;
  font-size: 16px;
}

/* LADO DIREITO */

.right-side {
  flex: 1;
  background: #0e0e0e;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px;
}

form {
  width: 100%;
  max-width: 420px;
}

form h2 {
  color: white;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

form h2 span {
  color: #ff5a1f;
}

.descricao {
  color: #999;
  margin-bottom: 40px;
}

label {
  display: block;
  color: #aaa;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 16px;
  background: #1b1b1b;
  border: none;
  color: white;
  margin-bottom: 10px;
}

input:focus {
  outline: 1px solid #ff5a1f;
}

button {
  width: 100%;
  padding: 18px;
  background: #ff5a1f;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

a {
  display: block;
  text-align: center;
  color: #ff5a1f;
  margin-top: 20px;
  text-decoration: none;
}
.btn-voltar-login {

    display: block;

    width: 100%;

    padding: 16px;

    background: #ff5a1f;

    color: white;

    text-align: center;

    text-decoration: none;

    font-weight: bold;

    margin-top: 20px;

    transition: 0.3s;
}

.btn-voltar-login:hover {

    background: #e04a10;
}