/* ===================================================
   RESPONSIVE.CSS
   Sistema Ideal
=================================================== */

/* ==========================================
   Até 1200px
========================================== */

@media (max-width: 1200px) {

}


/* ==========================================
   Até 992px
========================================== */

@media (max-width: 992px) {

    .content {
        padding: 25px;
    }

}


/* ==========================================
   Até 768px
========================================== */

@media (max-width: 768px) {

    

    .content {
        width: 100%;
        padding: 15px;
    }

}


/* ==========================================
   Até 480px
========================================== */

@media (max-width: 480px) {

    .content {
        padding: 10px;
    }

}